# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# List of models:
#
# * Anthropic: https://docs.anthropic.com/en/docs/about-claude
# * OpenAI: https://platform.openai.com/docs/models
#
# Examples:
#
# | MODEL                              | MAX_TOKENS | Description                                         |
# | ---------------------------------- | ---------- | --------------------------------------------------- |
# | anthropic:claude-opus-4-0          | 32000      | most capable model                                  |
# | anthropic:claude-sonnet-4-0        | 64000      | high-performance model                              |
# | anthropic:claude-3-7-sonnet-latest | 64000      | high-performance model with early extended thinking |
# | anthropic:claude-3-5-haiku-latest  | 8192       | fastest model                                       |
# | ---------------------------------- | ---------- | --------------------------------------------------- |
# | openai:gpt-4.1                     | 32768      | flagship GPT model for complex tasks                |
# | openai:gtp-4o                      | 16384      | fast, intelligent, flexible GPT model               |
# | openai:o4-mini                     | 100000     | fast reasoning model                                |
# | openai:o3                          | 100000     | most capable reasoning model                        |
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

API_KEY=<secret>
MODEL=anthropic:claude-sonnet-4-0
MAX_TOKENS=64000
TEMPERATURE=0.2
